Host root
    HostName 157.245.251.236
    User root
    IdentityFile ~/.ssh/id_rsa
Host pcbowers
    HostName 157.245.251.236
    User pcbowers
    IdentityFile ~/.ssh/id_rsa
Host bedrock
    HostName bedrocklynchburg.com
    User bedrockl
    IdentityFile ~/.ssh/id_rsa
    Port 18765
Host gameserver
    HostName 192.168.195.3
    User gameserver
Host dad
    HostName home252297167.1and1-data.host
    User u50093630
Host caprover 
    HostName 104.131.184.63 
    User root
    IdentityFile ~/.ssh/id_rsa
